<%= form_for @guest, url: {action: 'create'} do |f| %>
  <div class="field">
   	<%= f.label :host_id %><br>
    <%= f.text_field :host_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>