<div class="background"></div>


<p class="new"> Hello <%= @currentUser["firstName"] %>, enter the name of your party below to begin! </p>

<%= form_for :create, url: create_path do |f| %>
	<%= f.label :playlist %>
	<%= f.text_field :playlist %>
<% end %>

<p>Or, select one of your existing playlists:</p>

<% @playlists.each_with_index do |v, i| %>
	<%= form_for :create, url: create_path do |f| %>
		<div class="playlistChoice" style='cursor:pointer;'>
			<%= v['name'] %>
			<%= hidden_field_tag 'create[playlist]', v['key'] %>
		</div>
	<% end %>
<% end %>
</div>

