<p class="partyName"> Hello <%= @currentUser["firstName"] %>, enter the name of your party below to begin! </p>

<!-- not sure how to select the form below-->
<%= form_for :create, url: create_path do |f| %>
	<%= f.label :playlist %>
	<%= f.text_field :playlist %>
<% end %>

<p class="existing">Or, select one of your existing playlists:</p>

<% @playlists.each_with_index do |v, i| %>
	<%= form_for :create, url: create_path do |f| %>
		<div class="playlistChoice" style='cursor:pointer;'>
			<%= v['name'] %>
			<%= hidden_field_tag 'create[playlist]', v['name'] %>
			<%= hidden_field_tag 'create[reuse]', v['key'] %>
		</div>
	<% end %>
<% end %>


