<p> Hello <%= @currentUser["firstName"] %>, enter the name of your party below to begin! </p>

<%= form_for :create, url: create_path do |f| %>
	<%= f.label :playlist %>
	<%= f.text_field :playlist %>
<% end %>
<!-- <%= link_to 'search', search_path %> -->

<iframe class="embedly-embed" src="//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Frd.io%2Fi%2FQi-FgfA%2F%2F%3Fsource%3Doembed&url=http%3A%2F%2Fwww.rdio.com%2Fpeople%2F<%= @currentUser["firstName"] %>%2Fplaylists%2F13098675%2%2F&image=http%3A%2F%2Fm.rdio.com%2F_is%2F%3Faid%3D98947-2%2C286689-0%2C500852-0%2C1613413-1%2C2118675-1%2C3412102-2%2C4248291-3%2C4313167-5%2C4990196-5%26w%3D400%26h%3D400&key=internal&type=text%2Fhtml&schema=rdio" width="400" height="400" scrolling="no" frameborder="0" allowfullscreen></iframe>