<%= javascript_tag do %>
$(function() {
	$('.playlistChoice').click(function() {
		var form = $(this).parents('form:first');
		form.submit();
	});
});
<% end %>
<div class="startInstructions">
	<p> Hello <%= @currentUser["firstName"] %>, enter a playlist name:</p>

	<!-- not sure how to select the form below-->
	<div class="playlistForm">
		<%= form_for :create, url: create_path do |f| %>
			<%= f.text_field :playlist %>
			<%= f.submit "Create!", { class: 'join' } %>
		<% end %>
	</div>

	<p>Or, select one of your existing playlists:</p>
</div>
<div class='playlist_select'>
<% @playlists.each_with_index do |v, i| %>
	<%= form_for :create, url: create_path do |f| %>
		<div class="playlistChoice">
			<%= v['name'] %>
			<%= hidden_field_tag 'create[playlist]', v['name'] %>
			<%= hidden_field_tag 'create[reuse]', v['key'] %>
		</div>
	<% end %>
<% end %>
</div>