<div>
	It works!
</div>
<div>
	<p>Room: <%= @host.room %></p>
	<p>Playlist <%= @host.playlist.key %></p>
</div>
<div>
	<%= form_tag @host.room + '/search/' do %>
		<%= label_tag :title %>
		<%= text_field_tag :title %>
	<% end %>
</div>
<div>
<% if @guest.present? %>
	Hello <%= @guest.name %>, welcome to the party.
<% end %> 
</div>
<div>
<% @host.playlist.songs.each do |song| %>
	<div>
		<%= song.title %>
	</div>
<% end %>
	<ul>
		<% @host.playlist.songs.each do |song| %>
			<li>
				<p>Song: <%= song.title %></p>
				<p>Artist: <%= song.artist %></p>
				<p>Vote: <%= song.vote %></p>
				<%= form_tag like_path do %>
					<%= submit_tag 'Like' %>
					<%= hidden_field_tag 'song', song.id %>
				<% end %>
			</li>
		<% end %>
</div>
<div>
</div>