
<div>
	<p>Room: <%= @host.room %></p>
	<p>Playlist <%= @host.playlist.key %></p>
</div>
<div>
	<%= form_tag @host.room + '/search/' do %>
		<%= label_tag :title %>
		<%= text_field_tag :title %>
	<% end %>
</div>
<div>
<% if @guest.present? %>
	Hello <%= @guest.name %>, welcome to the party.
<% end %>
</div>
<div>
	<ul>
		<% @host.playlist.songs.sort_by {|song| [song.vote]}.reverse.each do |song| %>
			<li>
				<p>Song: <%= song.title %></p>
				<p>Artist: <%= song.artist %></p>
				<p>Vote: <span class='vote'><%= song.vote %></span></p>
				<% if @guest.present? %>
				<p>
					<% if song.in?(@guest.songs) %>
						Voted.
					<% else %>
						<%= form_tag like_path do %>
							<%= submit_tag 'Like' %>
							<%= hidden_field_tag 'song', song.id %>
						<% end %>
						<%= form_tag dislike_path do %>
							<%= submit_tag 'Dislike' %>
							<%= hidden_field_tag 'song', song.id %>
						<% end %>
					<% end %>
				</p>	
			</li>
		<% end %>
	</ul>
</div>
<% end %> 
<div>
<%= @obj[0].media.html.html_safe %>
</div>