
<div class="background"></div>
 <% if flash[:error] %>
    <div class="error"><%= flash[:error] %></div>
  <% end %>
<div class="songList">
	<span class="code">room code:</span>
	<h2> <span class="roomcode"><%= @host.room %></span>
	<span class="name"><%= @host.playlist.name %> </h3></h2>
  <% if @guest.present? %>
    <div class="songSearch">
    	<%= form_tag @host.room + '/search/' do %>
    		<%= text_field_tag :title, '', { placeholder: 'Song Name', id: 'search-data' } %> <br />
    		<%= submit_tag 'Find Songs', { id: 'search' } %>
    	<% end %>
    </div>
    <div class="welcomeGuest">
        Hello <%= @guest.name %>, welcome to the party.
      	<%= hidden_field_tag 'guest', @guest.name %>
    </div>
  <% end %>
</div>
<%= hidden_field_tag 'host', @host.id %>
<div id="switcher" data-uri="<%= request.host %>:<%= request.port %>/websocket">
	<ul id='tracks'>
      <% @host.playlist.songs.sort_by {|song| [song.vote]}.reverse.each do |song| %>
        <li class="track" data-id="<%= song.id %>" data-key="<%= song.key %>" data-order="0">
          <div class='track-arrow'>
            <img src='<%= song.image %>' class='trackIcon'>
            <div class='trackInfo'>
              <span class='track-title'><%= truncate(song.title, legnth: 20) %></span><br>
              <span class='track-artist'><%= song.artist %></span><br>
              Vote: <span class='vote'><%= song.vote %></span>
            </div>
          </div>
            <% if @guest.present? %>
            <% if song.in?(@guest.songs) %>
            <% else %>
            <div class='like' id='<%= song.id %>'>
              <%= form_tag like_path, { remote: true } do %>
                <%= embedded_svg 'thumbs-up-down.svg', class: "vote_btn like_button" %>
                <%= hidden_field_tag 'song', song.id %>
                <%= hidden_field_tag 'host_id', song.playlist.host.room %>
              <% end %>
              <%= form_tag dislike_path, { remote: true } do %>
                <%= embedded_svg 'thumbs-up-down.svg', class: "vote_btn dislike_button" %>
                <%= hidden_field_tag 'song', song.id %>
                <%= hidden_field_tag 'host_id', song.playlist.host.room %>
              <% end %>
            </div>
          <% end %> 
        <% end %>
        </li>
      <% end %>
    </ul>
</div>
<% if @thehost %>
	<%= render "playback" %>
<% end %>