<div>
	<p>Room: <%= @host.room %></p>
	<p>Playlist <%= @host.playlist.key %></p>
</div>
<div>
	<%= form_tag @host.room + '/search/' do %>
		<%= label_tag :title %>
		<%= text_field_tag :title %>
	<% end %>
</div>
<div>
<% if @guest.present? %>
	Hello <%= @guest.name %>, welcome to the party.
<% end %> 
</div>
<div>
	<ul>
		<% @host.playlist.songs.each do |song| %>
			<li>
				<p>Song: <%= song.title %></p>
				<p>Artist: <%= song.artist %></p>
			</li>
		<% end %>
	</ul>
</div>
<div>
<%= @obj[0].media.html.html_safe %>
</div>