<div>
	It works!
</div>
<div>
	<p>Room: <%= @host.room %></p>
	<p>Playlist <%= @host.playlist.key %></p>
</div>
<div>
	<%= form_tag @song do %>
	<%= s.label :title %>
	<%= s.text_field :title %>
<% end %>
</div>
<div>
	<p>
		<%= @get %>
	</p>
</div>
