<div class="background"></div>


<%= javascript_tag do %>
	var interval = 1000;
	function doAjax() {
	    $.ajax({
	            type: 'POST',
	            url: '/update',
	            data: <%= @host.playlist.to_json.html_safe %>,
	            success: function (data) {
	            	console.log(data)
	            	for (i=0;i<data.length;i++) {
	            		$('.vote:eq(' + i + ')').html(data[i].vote)
	            	}
	            },
	            complete: function (data) {
	                    // Schedule the next
	                    setTimeout(doAjax, interval);
	            }
	    });
	}
	setTimeout(doAjax, interval);
<% end %>
<div class="select">
	<p class="room">Room: <%= @host.room %></p>
	<p class="playlist">Playlist<%= @host.playlist.key %></p>
</div>
<div class="songSearch">
	<%= form_tag @host.room + '/search/' do %>
		<%= label_tag :title, "Search Song" %>
		<%= text_field_tag :title %>
	<% end %>
</div class="welcomeGuest">
<% if @guest.present? %>
	Hello <%= @guest.name %>, welcome to the party.
<% end %>
</div>
<div>
	<ul class= "details">
		<% @host.playlist.songs.each do |song| %>
			<li>
				<p class="detail">Song: <%= song.title %></p>
				<p class="detail">Artist: <%= song.artist %></p>
				<p class="detail">Vote: <span class='vote'><%= song.vote %></span></p>
				<% if @guest.present? %>
				<p>
					<% if song.in?(@guest.songs) %>
						Voted.
					<% else %>
						<div class='like' id='<%= song.id %>'>
							<%= form_tag like_path, { remote: true } do %>
								<%= submit_tag 'Like' %>
								<%= hidden_field_tag 'song', song.id %>
							<% end %>
							<%= form_tag dislike_path, { remote: true } do %>
								<%= submit_tag 'Dislike' %>
								<%= hidden_field_tag 'song', song.id %>
							<% end %>
						</div>
					<% end %>
				</p>	
			</li>
		<% end %>
	</ul>
</div>
<% end %> 
<div class="playbox">
<%= @obj[0].media.html.html_safe %>
</div>