
<div class="background"></div>
 <% if flash[:error] %>
    <div class="error"><span class='error_message'><%= flash[:error] %></span><img src='http://media.giphy.com/media/1aBHzBi3jSItG/giphy.gif'></div>
  <% end %>
<div class="songList">
  <div id='turntable'>
  	<%= embedded_svg 'prdio-logo2.svg', class: "plogo" %>
    <div id="circle">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="175px" height="175px" viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
          <defs>
            <path id="circlePath" d=" 
             M 200, 200 
             m -110, 0 
             a 120,120 0 0,1 240,0 
             a 120,120 0 0,1 -240,0">
             </path>
            <path id="circlePath2" d=" M 200, 200 
            m -140, 0 
            a 130,130 0 0,1 300,0 
            a 130,130 0 0,1 -300,0">
            </path>
          </defs>
          <circle cx="150" cy="150" r="50" fill="#000" style='stroke-opacity: 0;fill: none;'/>
          <g>
              <use xlink:href="#circlePath" fill="none"/>
              <text fill="#fff">
                  <textPath xlink:href="#circlePath" style='font-size: 30px;' id='circleText'></textPath>
              </text>
          </g>
          <g>
              <use xlink:href="#circlePath2" fill="none"/>
              <text fill="#fff">
                  <textPath xlink:href="#circlePath2" style='font-size: 30px;' id='circleText2'> ♬ <%= @host.playlist.name %> ♬ </textPath>
              </text>
          </g>
      </svg>
    </div>
    <%= hidden_field_tag 'playlist', @host.playlist.name %>
  </div>
  <% if @guest.present? %>
    <div class="songSearch">
      <%= form_tag @host.room + '/search/' do %>
        <%= text_field_tag :title, '', { placeholder: 'Search for Tracks', id: 'search-data', autocomplete: 'off', autocorrect: 'off' } %> <br />
        <%= submit_tag 'Find Songs', { id: 'search' } %>
      <% end %>
    </div>
  <% end %>
  <span class="code">room code:</span>
  <h2> <span class="roomcode resize"><%= @host.room %></span>
  <span class="name"><%= @host.playlist.name %> </h3></h2>
</div>
<%= hidden_field_tag 'host', @host.id %>
<div id="switcher" data-uri="<%= request.host %>:<%= request.port %>/websocket">
	<ul id='tracks'>
      <% @songs = @host.playlist.songs %>
      <% @songs.sort_by {|song| [song.vote, song.id]}.reverse.each do |song| %>
        <li class="track" data-id="<%= song.id %>" data-key="<%= song.key %>" data-order="0">
          <div class='track-arrow'>
            <img src='<%= song.image %>' class='trackIcon'>
            <div class='trackInfo'>
              <span class='track-title'><%= truncate(song.title, legnth: 15) %></span><br>
              <span class='track-artist'><%= song.artist %></span><br>
              Vote: <span class='vote'><%= song.vote %></span>
            </div>
          </div>
            <% if @guest.present? %>
            <% if song.in?(@guest.songs) %>
            <% else %>
            <div class='like' id='<%= song.id %>'>
              <%= form_tag like_path, { remote: true } do %>
                <%= embedded_svg 'thumbs-up-down.svg', class: "vote_btn like_button" %>
                <%= hidden_field_tag 'song', song.id %>
                <%= hidden_field_tag 'host_id', song.playlist.host.room %>
              <% end %>
              <%= form_tag dislike_path, { remote: true } do %>
                <%= embedded_svg 'thumbs-up-down.svg', class: "vote_btn dislike_button" %>
                <%= hidden_field_tag 'song', song.id %>
                <%= hidden_field_tag 'host_id', song.playlist.host.room %>
              <% end %>
            </div>
          <% end %> 
        <% end %>
        </li>
      <% end %>
    </ul>
</div>
<% if @thehost %>
  <%= hidden_field_tag 'guest', 'HOST' %>
	<%= render "playback" %>
<% end %>