<div class="background"></div>
<%= javascript_tag do %>

<% end %>

<div class="change">
	<h1><%= @host.playlist.name %></h1>
</div>
<div class="songSearch change">
	<%= form_tag @host.room + '/search/' do %>
		<%= text_field_tag :title, '', { placeholder: 'Song Name' } %>
		<%= submit_tag 'Find Songs' %>
	<% end %>
</div class="welcomeGuest change">
<% if @guest.present? %>
	Hello <%= @guest.name %>, welcome to the party.
<% end %>
</div>

<div class="change">
	<ul id='tracks'>
		<% @host.playlist.songs.sort_by {|song| [song.vote]}.reverse.each do |song| %>
			<li class='track<%= song.id %> track'>
				<img src='<%= song.image %>' class='trackIcon'>
				<div class='trackInfo'>
					<%= song.title %><br>
					<%= song.artist %><br>
					Vote: <span class='vote'><%= song.vote %></span>
				<% if @guest.present? %>
				<% if song.in?(@guest.songs) %>
					Voted.
				<% else %>
				</div>
					<div class='like' id='<%= song.id %>'>
						<%= form_tag like_path, { remote: true } do %>
							<%= submit_tag 'Like' %>
							<%= hidden_field_tag 'song', song.id %>
						<% end %>
						<%= form_tag dislike_path, { remote: true } do %>
							<%= submit_tag 'Dislike' %>
							<%= hidden_field_tag 'song', song.id %>
						<% end %>
					</div>
				<% end %>	
			<% end %>
			</li>
		<% end %>
	</ul>
</div>
<% if @thehost %>
<div class="change">
	<div class="playbox">
		<%= @obj[0].media.html.html_safe %>
	</div>
</div>
<% end %>