<div class="background"></div>

<div class="logo"></div>


<div class= "forms">

<h2 class="party"><%= link_to 'New Party', new_host_path %></h2>


<%= form_for(@guest) do |f| %>
  <div class="field">
    <%= f.label :host_id, {class:"name"} %><br>
    <%= f.text_field :host_id,{class:"form"} %>
  </div>
  <div class="field">
   	<%= f.label :email, {class:"name"} %><br>
    <%= f.text_field :email, {class:"form"} %>
  </div>
  <div class="field">
    <%= f.label :name, {class:"name"} %><br>
    <%= f.text_field :name, { class:"form"} %>
  </div>
  <div class="actions"> 
    <%= submit_tag 'Join Party', { class:"join" } %>
  </div>
<% end %>
</div>