<!DOCTYPE html>
<html>
<head>
  <title>PRDIO</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% randIco = rand(7)+1 %>
  <link rel="shortcut icon" type="image/x-icon" href="/assets/prdio-favicon0<%= randIco %>.png">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//cdn.jsdelivr.net/mobile-detect.js/1.0.0/mobile-detect.min.js"></script>
  <%= csrf_meta_tags %>
   <!--        <script> $(document).ready(function() { App.init(); }); </script> -->
</head>
<body>

<%= yield %>

</body>
</html>
